body, html {
  height: 100%;
  margin: 0;
}

.flag-menu {
	height: 17px;
	margin-right: 10px;
}

.parallax,
.parallax2,
.parallax3,
.parallax4 {
	position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
    background-image: url("../images/creative.jpg");
    min-height: 100%;
}

.parallax2 {
    background-image: url("../images/android.jpg");
    min-height: 50%;
}

.parallax3 {
    background-image: url("../images/team.jpg");
    min-height: 50%;
}

.parallax4 {
    background-image: url("../images/java.jpg");
    min-height: 50%;
}

.photo {
	border-radius: 10%;
  display: inline-block;
  max-height: 250px;
}

.container {
	height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;

}

.container-fluid {
	height: 100%;
	width: 100%;
	margin: auto 0;
}

.caption span.border {
  background-color: #282E34;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.centering {
  display:block;
  text-align:center;
}

.pads {
  padding: 20px;
}

.bar-style {
  color: #ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

h2,
h1 {
  text-align:center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom-style: solid;
}

.name {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 20px;
}

.marg {
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-dialog {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-content {
  margin: 0 auto;
}

.photo-modal {
  max-height: 300px;
}

.carousel {
  margin-bottom: 15px;
  background-color: #282E34;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-height: 500px;
}

section {
  height:100%;
}

.pointer {
	cursor: pointer;
}
